<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Tabel KTP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tabel KTP</div>
        <hr>
        <table border="3",style="width:100
               <thead>
               <tr>
               <th>ID KTP</th>
               <th>Nomor Pemilik</th>
               <th>Nama Pemilik</th>
               <th>Alamat Pemilik</th>
               <tr>
               </thead>
                <tbody th:each="baki:${table}">
                <tr>
                    <td th:text="${baki[0]}"></td>
                    <td th:text="${baki[1]}"></td>
                    <td th:text="${baki[2]}"></td>
                    <td th:text="${baki[3]}"></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p th:text="${result}"></p>
    </body>
</html>
    </body>
</html>
